[tool.black]
line-length = 120
target-version = [
  'py38',
  'py39',
  'py310',
  'py311',
  'py312',
  'py313',
]
exclude = '''
/(
    \.eggs
  | \.git
  | \.idea
  | \.pytest_cache
  | \.github
  | _build
  | build
  | dist
  | venv
  | test/resources
)/
'''

[tool.ruff]
line-length = 120

lint.select = [
  "ALL",
]
lint.extend-ignore = [
  "ANN",
  "B008",
  "BLE001",
  "C408",
  "C901",    # too complex
  "COM812",
  "D",
  "EM101",
  "EM103",
  "EXE001",
  "F401",
  "F403",
  "FBT",
  "FIX002",
  "I001",
  "N817",
  "PERF401",
  "PGH003",
  "PLR0911", # Too many return statements
  "PLR0912", #  Too many branches
  "PLR0913", # Too many arguments in function definition
  "PLR2004",
  "PT",
  "PTH",
  "PYI024",
  "S101",
  "S110",
  "S112",
  "S314",
  "SLF001",
  "T201",
  "TCH003",
  "TD002",
  "TD003",
  "TRY003",
  "UP",
]
lint.pylint.allow-magic-value-types = [
  "float",
  "int",
  "str",
]
lint.pylint.max-branches = 13
